* {
	outline: none;
    margin: 0;
    padding: 0;
}

#redBar{
    width: 100%;
    background-color: #CE1127;
    height: 7px;
    float: top;
}

#mainImage {
    width: 100%;
}

#mainImage img {
    width: 100%;
}

#careers h1 {
    text-align: center;
}

